html, body {
    font: 400 16px/1.5 "Lato", sans-serif;
    color: #414141;
}

@media only screen and (max-width: 767px) {
    html, body {
        font-size: 14px;
    }
}

h1 {
    font: 400 28px/1.2 "Lato", sans-serif;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 20px;
    }
}

a {
    color: #6699cc;
}

p + p {
    margin-top: 1rem;
}

nav {
    background-color: #e3f2fd;
}

article {
    max-width: 800px;
    margin: auto;
}

nav li + li {
    margin-left: 30px;
}

@media only screen and (max-width: 767px) {
    nav li {
        margin: 15px 0;
    }

    nav li + li {
        margin-left: 0;
    }
}

.navbar-brand i {
    line-height: inherit;
    color: #64737e;
    vertical-align: middle;
    font-size: 100%;
}

#main {
    padding: 30px 0;
}

.resized-image {
    overflow: hidden;
    max-height: 320px;
    margin-bottom: 15px;
}

.resized-image img {
    min-width: 580px;
}

.byline {
    font-size: 95%;
}

.byline span {
    color: #777;

}

.byline span > span {
    padding: 0 3px;
}

article .img-fluid {
    margin: 0.5rem 0 0.75rem 0;
    width: 100%;
}

#pagination > a {
    display: inline-block;
}

#pagination > a + a {
    margin-left: 1rem;
}

#pagination a[rel=prev] span {
    padding-right: 5px;
}

#pagination a[rel=next] span {
    padding-left: 5px;
}

.error-content h1 {
    margin-bottom: 1rem;
}
