html, body {
    font: 400 16px/1.5 "Lato", sans-serif;
    color: #414141;
}

@media only screen and (max-width: 767px) {
    html, body {
        font-size: 14px;
    }
}

h1 {
    font: 400 28px/1.2 "Lato", sans-serif;
    margin-top: .5rem;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 20px;
    }
}

a {
    color: #6699cc;
}

p + p {
    margin-top: 1rem;
}

nav {
    background-color: #e3f2fd;
}

section.article-body {
    max-width: 800px;
    margin: auto;
}

nav li + li {
    margin-left: 30px;
}

@media only screen and (max-width: 767px) {
    nav li {
        margin: 15px 0;
    }

    nav li + li {
        margin-left: 0;
    }
}

a.navbar-brand i {
    line-height: inherit;
    color: #64737e;
    vertical-align: middle;
    font-size: 100%;
}

div#main {
    padding: 1rem 0;
}

div.resized-image {
    overflow: hidden;
    max-height: 320px;
    margin-bottom: 15px;
}

div.resized-image img {
    min-width: 580px;
}

p.byline {
    font-size: 95%;
}

p.byline span {
    color: #777;

}

p.byline span > span {
    padding: 0 3px;
}

article .img-fluid {
    margin: 0.5rem 0 0.75rem 0;
    width: 100%;
}

div#pagination > a {
    display: inline-block;
}

div#pagination > a + a {
    margin-left: 1rem;
}

div#pagination a[rel=prev] span {
    padding-right: 5px;
}

div#pagination a[rel=next] span {
    padding-left: 5px;
}

div.error-content h1 {
    margin-bottom: 1rem;
}

div#comments {
    margin: 2rem auto;
}

div#comments hr {
    margin-bottom: 2rem;
}

div#comments div {
    padding-left: 1rem;
    border-left: 1px dashed rgba(255, 99, 71, 0.6);
}

div.comment p {
    font-size: 90%;
    line-height: 1.6;
    margin-bottom: .75rem;
}

div.comment p span {
    color: #bbb;
}

div.comment p span > span {
    padding: 0 1px;
}

div.tooltip-inner {
    font-size: .75rem;
}
