@(title: String)(content: Html)
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>@title</title>
        <link rel="stylesheet" media="screen" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
        <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Lato:400" />

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>

        <header>
            <nav class="navbar navbar-light navbar-expand-md">
                <a class="navbar-brand" href="/">
                    <i class="material-icons">
                        chat_bubble
                    </i>
                    Chatty Blog
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarNav" class="collapse navbar-collapse">
                    <ul id="menu-main-menu" class="navbar-nav ml-auto">
                        <li><a href="https://github.com/mykisscool/chatty-blog" target="_blank">About</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div id="main">
            <div class="container-fluid">
                <div class="row">
                    @content
                </div>
            </div>
        </div> <!-- // #main -->

        <script src="//code.jquery.com/jquery-3.3.1.min.js?ver=3.3.1"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js?ver=1.14.3"></script>
        <script src="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js?ver=4.2.1"></script>
        <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
    </body>
</html>
