@(title: String, post: Post, comments: List[Comment])(implicit request: Request[AnyContent])

@src(post: Post) = {@routes.Assets.versioned("images/posts/" + {post.slug} + "/" + {post.image})}
@commentPartial(postid: Int, commentid: Int) = {
    <span class="reply" data-postid="@postid" data-commentid="@commentid">
        <a href="#">
            <br />
            <span class="material-icons">
                chat_bubble
            </span>
            reply
        </a>
    </span>
}
@displayComments(comment: Comment) = {
    <p>
        <a href="#" data-placement="top" data-toggle="tooltip" title="@comment.fullname">
            <i></i>
            @comment.nickname
        </a>
        <span>
            <span>&middot;</span>
            @comment.created_at
            <span>&middot;</span>
        </span>
        @comment.comment

        @if(request.session.get("userid")) {
            @commentPartial(post.id, comment.comment_id)
        }
    </p>
}

@main("Chatty Blog - " + title) {

    <section class="article-body">

        <article id="blog-post-@post.slug">
            <div class="col-12">
                <h1>@title</h1>

                <img class="img-fluid" src="@src(post)" alt="@post.title" />

                <p class="byline">By: @post.fullname <span><span>&middot;</span> @post.created_at</span></p>

                @Html(post.content)

                @if(request.session.get("userid")) {

                    @helper.CSRF.formField

                    <div id="comment-directly-to-post" class="comment">
                        <p>
                            @commentPartial(post.id, 0)
                        </p>
                    </div>

                }

            </div>
        </article>

        @if(comments.nonEmpty) {

        <div id="comments" class="col-12">
            <hr />

            @for(comment <- comments) {
                @if(comment.commented_on_comment_id.equals(0)) {

                    <div class="comment">

                    @displayComments(comment)

                    @* Recursively check for comments stemming from this parent comment *@
                    @{
                        def showChildrenForParent(comment_id: Int): Html = {

                            var html: String = ""
                            var children = comments.filter(_.commented_on_comment_id.equals(comment_id))

                            if (children.nonEmpty) {

                                html += "<div class=\"comment\">"

                                for(child <- children) {
                                    html += displayComments(child)
                                    html += showChildrenForParent(child.comment_id)
                                }

                                html += "</div>"
                            }

                            Html(html)
                        }

                        showChildrenForParent(comment.comment_id)
                    }

                    </div>

                }
            }

        </div>

        }

    </section>

}
